{% extends "base.html" %}

{% block titulo %}
<title>F1 - Pilotos</title>
{% endblock titulo %}

{% load static %} <!-- Colócalo aquí -->

{% block contenido %}
<h1 style="color:red;">
  Crea tu Piloto
</h1>
<form method="post">
  {% csrf_token %}
  <p>Nombre</p>
  <input type="text" name="nombre">
  <p>Apellido</p>
  <input type="text" name="apellido">
  <p>Nacionalidad</p>
  <input type="text" name="nacionalidad">
  <p>Biografia</p>
  <textarea id="id_biografia" name="biografia"></textarea>
  <input type="submit" value="Enviar">
</form>
{% endblock contenido %}