{% extends "base.html" %}

{% block titulo %}
<title>F1 - Lista de Pilotos</title>
{% endblock titulo %}

{% block contenido %}
<h1 style="color:blue;">
  Esta es la lista de pilotos
</h1>
<a href="{% url 'lista_pilotos' %}">Ver todas</a>
<a href="{% url 'crear_piloto' %}">Crear escuderia</a>
<br><br>
<form action="{% url 'buscar_piloto' %}" method="post">
  {% csrf_token %}
  <input type="text" name="busqueda">
  <input type="submit" value="Buscar piloto">
</form>
<br> 
  <table class="table">
    <tbody>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Nacionalidad</th>
      </tr>
      {% for piloto in pilotos %}
      <tr>
        <td>{{ piloto.nombre }}</td>
        <td>{{ piloto.apellido }}</td>
        <td>{{ piloto.nacionalidad }}</td>
        <td>
          <a class="btn btn-primary" href="{% url 'editar_piloto' piloto.id %}">editar</a>
        </td>
        <td>
          <form action="{% url 'eliminar_piloto' piloto.id %}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este piloto?');">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">eliminar</button>
          </form>
        </td>  
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock contenido %}

  