{% extends "base.html" %}

{% block titulo %}
<title>F1 - Lista de Pilotos</title>
{% endblock titulo %}

{% block contenido %}
<h1 style="color:blue;">
  Esta es la lista de pilotos
</h1>
<a href="{% url 'lista_pilotos' %}">Ver todos</a>
<a href="{% url 'crear_piloto' %}">Crear piloto</a>
<br><br>
{% for piloto in pilotos %}
  <form method="post" action="{% url 'editar_piloto' piloto.id %}">
    {% csrf_token %}
  </form>
  <br> 
  <ul>
    <li>
      <p>{{ piloto.nombre }}</p>
      <p>{{ piloto.biografia|truncatewords:5 }}</p>
      <a href="{% url 'detalle_piloto' piloto.id %}">Leer más</a>
    </li>  
  </ul>
{% endfor %}
{% endblock contenido %}
 

  