{% extends "base.html" %}

{% block titulo %}
<title>F1 - Lista de Escuderias</title>
{% endblock titulo %}

{% block contenido %}
<h1 style="color:orange;">
  Escuderias
</h1>
<a href="{% url 'lista_escuderias' %}">Ver todas</a>
<a href="{% url 'crear_escuderia' %}">Crear escuderia</a>
<br><br>
<form action="{% url 'buscar_escuderias' %}" method="post">
  {% csrf_token %}
  <input type="text" name="busqueda">
  <input type="submit" value="Buscar escuderia">
</form>
<br>

<table class="table">
  <tbody>
    <tr>
      <th>Nombre</th>
      <th>Nacionalidad</th>
      <th></th>
      <th></th>  
    </tr>
    {% for escuderia in escuderias %}
    <tr>
      <td>{{ escuderia.nombre }}</td>
      <td>{{ escuderia.nacionalidad }}</td>
      <td>
        <a class="btn btn-primary" href="{% url 'editar_escuderia' escuderia.id %}">editar</a>
      </td>
      <td>
        <form action="{% url 'eliminar_escuderia' escuderia.id %}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta escuderia?');">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">eliminar</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
