{% extends "base.html" %}

{% block titulo %}
<title>Sobre Mí - Tu Sitio Web</title>
{% endblock titulo %}

{% block contenido %}
<h1>Sobre Mí</h1>
<img src="/static/assets/Piloto_avatar.jpg" alt="Mi Foto" style="width: 800px; height: 400px;">

<p>Bienvenido, mi nombre es Ernesto Gonzalez tengo 35 años y vivo en Buenos Aires – Argentina, soy un aficionado de la formula 1 una de las máximas categorías en el mundo del automovilismo.
    En este blog quiero compartir con ustedes (de forma resumida) un poco de información respecto a las escuderías actuales, pilotos de cada equipo y el calendario correspondiente al 2023. 
    También se podrá crear tanto pilotos como escuderías para interacción dentro de al web.
    </p>
<p>¡Gracias por pasar!</p>
{% endblock contenido %}
