{% extends "base.html" %}
{% load static %}

{% block titulo %}
<title>F1- Inicio</title>
{% endblock titulo %}

{% block contenido %}
{% if user.is_authenticated %}
  <h1>Bienvenido/a {{ user.last_name }}, {{ user.first_name }} Este es el blog de la F1 LATAM</h1>
  <div>
    <img src="{{ user.avatar.imagen.url }}" style="max-width: 20px;">
  </div>
{% else %}
  <h1>Bienvenido/a visitante</h1>
  <p>En este blog encontrarás toda la información sobre la actualidad de la F1. También puedes crear tu propio piloto y escudería, pero para eso debes registrarte aquí: >>>>
    <a class="btn btn-success" href="{% url 'registro' %}"> Registro </a>
  </p>
{% endif %}
{% endblock contenido %}